* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(202, 250, 225);
}
header {
  position: sticky;
  top: 0;
}
.par {
  border: 2px solid rgb(112, 9, 126);
  background-color: rgb(237, 225, 234);
  border-radius: 15px;
  width: 1525px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}
.logo {
  width: 100px;
  height: 80px;
  margin-left: 40px;
  margin-top: 8px;
}
.li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 500px;
}
li {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  list-style: none;
  padding: 20px;
}
@media (max-width: 576px) {
  .par {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .li {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-top: -40px;
  }
  li {
    font-size: 10px;
    padding: 6px;
  }
  .logo {
    margin-left: 20px;
    margin-top: 4px;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
}
.on {
  margin-top: 60px;
  margin-left: 16.5rem;
}
.he {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  color: rgb(241, 12, 31);
  margin-left: -17px;
}
.cat {
  margin-top: 40px;
}
.dew {
  font-style: initial;
  font-size: 25px;
  color: rgb(142, 9, 9);
  padding: 20px;
  margin-left: -50px;
}
.cim {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}
.im {
  margin-top: 30px;
  border: 3px double rgb(136, 221, 96);
  border-bottom-right-radius: 15px;
  border-top-left-radius: 20px;
}
.vivi {
  margin-top: 20rem;
  border-radius: 5px;
  border-top-left-radius: 60px;
}
.lee {
  font-size: 30px;
  color: rgb(75, 75, 218);
  padding: 25px;
}
.min {
  font-size: 17px;
  margin-left: 40px;
}
.xx {
  border: 3px solid rgb(22, 122, 203);
  border-radius: 20px;
  margin-top: 70px;
  margin-left: 100px;
}
.mm {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-top: 20rem;
  margin-left: 50px;
}
@media (max-width: 576px) {
  .on {
    margin-left: 15px;
  }
  .he {
    font-size: 25px;
    margin-left: 17px;
  }
  .cat {
    margin-top: 30px;
    width: 550px;
  }
  .dew {
    font-size: 18px;
    padding: 10px;
    margin-left: 3px;
  }
  .cim {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px; 
  }
  .im {
    width: 200px;
    margin-top: 30px;
    margin-left: 15px;
  }
  .vivi {
    width: 200px;
    margin-left: 80px;
  }
  .lee {
    font-size: 20px;
    padding: 15px;
  }
  .min {
    font-size: 12px;
    margin-left: 10px;
  }
  .xx {
    width: 220px;
    margin-left: 20px;
  }
  .mm {
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-top: 1.5rem;
  }
}
.foo {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.polo {
  margin-left: 600px;
}
.boo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
.p {
  border: 1px solid;
  height: 50px;
}
.go {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: -15px;
}

@media (max-width: 576px) {
  .foo {
    margin-top: 10px;
}
.polo {
    margin-left: 150px;
}
.boo {
    margin-top: 40px;
    justify-content: space-around;
    }
.go {
   width: 30px;
   height: 30px;
   margin-top: 0;
  } 
}
